@page "/foodoverview"

@inherits FoodOverviewBase

<h3>Food overview</h3>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Calories per 100g</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var food in AllFood)
    {
        <tr>
            <td>@food.Name</td>
            <td>@food.CaloriesPer100g</td>
        </tr>
    }
    </tbody>
</table>