@page "/enternewfood"

@inherits EnterNewFoodBase

<h3>Enter new food</h3>

<EditForm Model="@NewFood">

    <div class="row">
        <ul>
            <li>
                <label>
                    Name
                    <InputText id="name" @bind-Value="NewFood.Name" />
                </label>
            </li>
            <li>
                <label>
                    Calories per 100g
                    <InputNumber id="caloriesper100g" @bind-Value="NewFood.CaloriesPer100g" />
                </label>
            </li>
            <li>
                <a class="btn btn-primary" @onclick="Save">Save</a>
            </li>
        </ul>
    </div>
</EditForm>
